
body{
	background-color: white;
	background-position: right;
	font-size: 18px;
	margin: 0px 0px 0px 0px;

}

@font-face {
	font-family: 'le-murmure';
	src: url('le-murmure-webfont.woff2') format('woff2'), 
		 url('le-murmure-webfont.woff') format('woff');
	font-weight:  normal;
	font-style:  normal;
}	

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
	</style>



.nav{
	position: fixed;
	display: flex;
	top: 0px;
	background-color: white;
	overflow: hidden;
	height: 100vw;
	padding: 0px 0px 20px 10px;
	width: 100vw;
	z-index: 1;
	margin: 0px 0px 20px 0px;
}

.left{
	float: left;
	width: 50%;
	position: fixed;
	padding: 0px 0px 0px 10px;
}

.right{
	float: right;
	padding: 20px 15px 0px 1150px;
	text-align: right;
	top: 0px;
	position: fixed;
}


.right:hover{
	cursor: pointer;
	font-size: 1.2em;
}

.palm-trees{
	margin: 20px 0px 0px 400px;
	width: 800px;
	display: flex;
	overflow: auto;
	z-index: 0;
}

.palm-trees:hover{
	cursor: pointer;
}

.interior{
	display: flex;
	margin: 20px 0px 0px 400px;
	width: 800px;
	overflow: auto;
	z-index: 0;
}

.interior:hover{
	cursor: pointer;
}


.mid-mod{
	display: flex;
	margin: 20px 0px 0px 400px;
	width: 800px;
	overflow: auto;
	z-index: 0;
}

.mid-mod:hover{
	cursor: pointer;
}


.mid-mod-app{
	display: flex;
	margin: 20px 0px 0px 400px;
	width: 800px;
	overflow: auto;
	z-index: 0;
	overflow-y: hidden;
}

.mid-mod-app:hover{
	cursor: pointer;
}

h1{
	font-family: 'le-murmure';
	font-size: 4em;
	text-align: left;
	color: black;
	line-height: 1.2em;
	padding: 0px 0px 0px 7px;
	margin: 0px;
	text-shadow: 1px 3px 4px black;
}


h2{
	font-family: 'Source Code Pro', monospace;
	font-size: 1em;
	text-align: left;
	color: black;
	line-height: .5em;
	padding: 0px 0px 0px 7px;
	margin: 0px;
}

p{
	font-family: 'Source Code Pro', monospace;
	font-size: .7em;
	text-align: right;
	color: black;
	line-height: 1em;
	padding: 0px 20px 0px 7px;
	margin: 0px;
	padding-top: 350px;
}


