

body{
	background-color: black;
	font-size: 18px;
	margin: 0px 0px 0px 0px;

}

@font-face {
	font-family: 'Karrik';
	src: url('Karrik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
	</style>

.nav{
	position: fixed;
	display: flex;
	top: 0px;
	overflow: hidden;
	height: 100vw;
	width: 100vw;
	z-index: 1;
	margin: 0px 0px 20px 0px;
}

.left{
	float: left;
	width: 30%;
	position: fixed;
	padding: 0px 0px 0px 5px;
	top: 3px;
	left: 3px;
}

.portfolio{
	float: left;
	width: 10%;
	position: fixed;
	padding: 0px 0px 0px 750px;
	top: 3px;
	left: 3px;
}

.experimental{
	float: right;
	width: 10%;
	position: fixed;
	padding: 0px 0px 0px 950px;
	top: 3px;

}

.resume {
	position: fixed;
	top: 3px;
	left: 1200px;
	color: white;
}

.upcyling{
	padding: 300px 550px 0px 220px;
}

.pub{
	padding: 100px 0px 0px 10px;
	display: flex;
	align-items: flex-start;
}

.text{
	display: flex;
	width: 25vw;
	float: left;
	padding: 100px 20px 0px 0px;

}

.scans{
	display: flex;
	float: right;
	right: 0px;
	width: 300px;
	height: auto;
	position: static;
	padding-left: px;
}

.thinking{
	padding: 100px 0px 0px 10px;
	display: flex;
	align-items: flex-start;
}

.words{
	display: flex;
	width: 25vw;
	float: left;
	padding: 100px 20px 0px 0px;

}

.pics{
	display: flex;
	float: right;
	right: 0px;
	width: 300px;
	height: auto;
	position: static;
}

.process{
	padding: 100px 550px 30px 220px;
}

.processup{
	padding: 100px 550px 30px 220px;
}

.explain{
	padding: 100px 550px 30px 220px;
}

.research{
	padding: 100px 550px 30px 220px;
}


.conclusion{
	padding: 100px 550px 400px 220px;
}


h1{
	font-family: 'Source Code Pro', monospace;
	font-size: 1.5em;
	text-align: left;
	color:white;
	line-height: 1em;
	padding: 0px 0px 0px 7px;
	margin: 0px;
}


h2{
	font-family: 'Karrik';
	font-size: 1em;
	text-align: left;
	color: white;
	line-height: .85em;
	padding: 0px 0px 0px 7px;
	margin: 0px 0px 0px 0px;
}


h2:hover{
	cursor: pointer;
	color: white;
	text-shadow: 3px 3px 10px;
}


p{
	font-family: 'Karrik';
	font-size: 1em;
	text-align: left;
	color: white;
	line-height: 1em;
	padding: 0px 0px 0px 7px;
	margin: 0px 0px 0px 0px;
}

s{
	font-family: 'Source Code Pro', monospace;
	font-size: .8em;
	text-align: left;
	color:white;
	line-height: .8em;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	text-decoration: unset;

}	